@{
    ViewData["Title"] = "Home Page";
}

@model User
<div class="text-center">
    <h1>Login and Registration</h1>

    <form action="register" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" type="text">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" type="text" >
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text" >
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="text" >
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm" type="text" >
            <span asp-validation-for="Confirm"></span>
        </div>
    <button>Register Buddy</button>
    </form>

    <partial name="LoginFormPartial"></partial>
</div>
